<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/layuimini.css?v=2.0.4.2}" media="all">
    <link rel="stylesheet" th:href="@{/css/themes/default.css}" media="all">
    <link rel="stylesheet" th:href="@{/lib/font-awesome-4.7.0/css/font-awesome.min.css}" media="all">
    <style>
        .div-content{
            background: white;
            border-radius: 5px;
            padding: 15px;
        }

        .table-search-fieldset {
            margin: 0;
            border: 1px solid #e6e6e6;
            padding: 10px 20px 5px 20px;
            color: #6b6b6b;
        }
    </style>
</head>
<body>
<div class="div-content">
    <span id="dictId" th:text="${dictId}" style="display: none"></span>
    <form class="layui-form layui-form-pane" id="form-search">
        <fieldset class="table-search-fieldset">
            <legend>搜索条件</legend>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">字典代码</label>
                    <div class="layui-input-inline" style="width: 150px;">
                        <input type="text" name="dictCode" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">字典名称</label>
                    <div class="layui-input-inline" style="width: 150px;">
                        <input type="text" name="dictName" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <button id="btn-search" lay-submit lay-filter="btn-search-filter" type="button" class="layui-btn layui-btn-radius layui-btn-normal">
                        <i class="layui-icon layui-icon-search"></i>
                        搜索
                    </button>
                    <button id="btn-reset" type="reset" class="layui-btn layui-btn-radius layui-btn-primary">
                        <i class="layui-icon layui-icon-fonts-clear"></i>
                        重置
                    </button>
                </div>

            </div>
        </fieldset>
    </form>

    <table id="table-sub-dict" lay-filter="table-sub-dict-filter"></table>
</div>
<script type="text/html" id="switchOnOff">
    <input type="checkbox" mid={{d.id}} {{d.enabled=="1"?"checked":""}} lay-skin="switch" lay-filter="switch-sub-dict-enabled" lay-text="是|否">
</script>
<script type="text/html" id="table-sub-dict-toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">新增</button>
        <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="delete">删除</button>
    </div>
</script>
<script type="text/html" id="col-sub-dict-toolbar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" charset="utf-8"></script>
<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
<script th:inline="javascript">

    function refreshTable() {
        $("#btn-reset").click();
        $("#btn-search").click();
    }

    var ctxPath = [[@{/}]];

    layui.use(['table','form'], function(){
        var table = layui.table;
        var form = layui.form;

        var dictId = $('#dictId').text();

        //表格头部工具栏监听
        table.on('toolbar(table-sub-dict-filter)', function(obj) {
            if (obj.event == 'add') {
                layer.open({
                    type: 2,
                    title: "新增字典子项",
                    area: ['50%','80%'],
                    shade: [0.8, '#393D49'],
                    content: ctxPath + 'conf/dict/sub/add/ui/' + dictId
                });
            } else if (obj.event == 'delete'){
                var checkStatus = table.checkStatus('table-sub-dict'); //idTest 即为基础参数 id 对应的值
                //如果没有选中任何数据
                if(checkStatus.data.length == 0){
                    layer.alert('您没有选中任何数据', {icon: 2,anim: 6,title: '警告'})
                    return false;
                }
                //选中的id
                var idArr = new Array();
                $(checkStatus.data).each(function () {
                    idArr.push(this.id);
                });
                layer.confirm('您确认删除选中记录？', {icon: 3, title:'删除确认'}, function(index){

                    //异步请求删除数据，结果提示，刷新表格
                    var url = ctxPath + 'conf/dict/sub/' + idArr.join(",");
                    var params = {
                        _method: "DELETE"
                    };
                    $.post(url, params, function (response) {
                        if(response.code == 0){
                            layer.msg(response.message, {icon: 1});
                            refreshTable();
                        }else {
                            layer.alert(response.message, {icon: 2, anim: 6});
                        }
                    });

                    layer.close(index);
                });
            }
        });

        //字典子项列表表格
        table.render({
            elem: '#table-sub-dict'
            ,url: ctxPath + 'conf/dict/sub/list?dictId=' + dictId   //数据接口
            ,page: true //开启分页
            ,toolbar: "#table-sub-dict-toolbar"
            ,limits: [5,10,30,50,100]
            ,cols: [[ //表头
                {type: 'checkbox', width:60}
                ,{type: 'numbers', title: '序号', width: 120}
                ,{field: 'dictCode', title: '字典代码', width:400, sort: true, align:'center'}
                ,{field: 'dictName', title: '字典名称', align:'center'}
                ,{field: 'sort', title: '排序', width: 120, sort: true, align:'center'}
                ,{field: 'enabled', title: '是否启用', width:200, align:'center', templet:'#switchOnOff'}
                ,{title: '操作', width: 150, align:'center', toolbar: '#col-sub-dict-toolbar'}
            ]]
        });

        //监听表单提交
        form.on('submit(btn-search-filter)', function(data){
            //刷新表格
            table.reload('table-sub-dict', {
                where: { //设定异步数据接口的额外参数，任意设
                    dictId: dictId,
                    dictCode: data.field.dictCode,
                    dictName: data.field.dictName
                }
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

        //监听操作列
        table.on('tool(table-sub-dict-filter)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）

            if(layEvent == 'del'){ //删除
                layer.confirm('您确认删除该字典：' + data.dictName + '?', {icon: 3, title:'删除确认'}, function(index){

                    //异步请求删除数据，结果提示，刷新表格
                    var url = ctxPath + 'conf/dict/sub/' + data.id;
                    var params = {
                        _method: "DELETE"
                    };
                    $.post(url, params, function (response) {
                        if(response.code == 0){
                            layer.msg(response.message, {icon: 1});
                            refreshTable();
                        }else {
                            layer.alert(response.message, {icon: 2, anim: 6});
                        }
                    });

                    layer.close(index);
                });
            } else if(layEvent == 'edit'){
                layer.open({
                    type: 2,
                    title: "修改字典信息",
                    area: ['50%','80%'],
                    shade: [0.8, '#393D49'],
                    content: ctxPath + 'conf/dict/sub/' + data.id
                });
            }
        });

        form.on('switch(switch-sub-dict-enabled)', function(){
            var id = $(this).attr('mid');//为了获取开关所在行的信息，需要绑定上所在行的id
            var url = ctxPath + 'conf/dict/sub/enabled/' + id;
            var params = {
                _method: "PUT"
            };
            $.post(url, params, function (response) {
                if(response.code == 0){
                    layer.msg(response.message, {icon: 1});
                    refreshTable();
                }else {
                    layer.alert(response.message, {icon: 2, anim: 6});
                }
            });

        });
    });
</script>
</body>
</html>